#chatarea.row.display
    h3= title   
    .eight.columns
        ul#chatmessages(data-bind="foreach: messages")
            li
                span(data-bind="text: author", style="font-weight:bold;")
                [
                span(data-bind="text: timestamp")
                ]:&nbsp;
                span(data-bind="text: text")

    .four.columns
        ul#users(data-bind="foreach: users")
            li
                span(data-bind="text: username", style="font-weight:bold;")
.row.display
    form#sendmessage(method='post', action='#', class='nice')
        .six.columns
            textarea(class='oversize expand input-text', rows='2', name='message[body]', id='message.body', required)
        .two.columns.pull-four
            input(type="submit", value="Send", class='nice small radius blue button')

block append scripts
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript")
        function Message(data){
            this.author = ko.observable(data.author);
            this.timestamp = ko.observable(data.timestamp);
            this.text = ko.observable(data.text);
        }

        function User(data){
            this.username = ko.observable(data.username);
        }

        function ChatViewModel() {
            //Data
            var self = this;
            
            self.users = ko.observableArray([]);
            self.messages = ko.observableArray([]);

            self.addMessage(data){
                self.messages.push(new Message(data));
            }

            self.addUser(data){
                self.users.push(new User(data));
            }

            self.removeUser(userid){
                delete users[userid];
            }
        }

        var chatModel = new ChatViewModel();

        ko.applyBindings(chatModel);

        socket.on('connect', function(){
        // call the server-side function 'adduser' and send one parameter (value of prompt)
            socket.emit('newuser', #{session.username});
        });

        // listener, whenever the server emits 'updatechat', this updates the chat body
        socket.on('updatechat', function (data) {
            chatModel.addMessage(data);
        });

        // listener, whenever the server emits 'updateusers', this updates the username list
        socket.on('adduser', function(data) {
            chatModel.addUser(data);
        });

        socket.on('removeuser', function(userid){
            chatModel.removeUser(userid);
        });
