!!! 5
html
    head
    meta(name="viewport", content="width=device-width")
    title= title
    block styles
        include partials/styles
    block scripts
        script(src='/javascripts/jquery-1.7.1.min.js')
  body
      .container
            .row.display
                .twelve.columns
                    a(href='/')
                        h1 Node Bootcamp Chat
            !{body}
            .row
                .twelve.columns
                    footer
                        Docent