link(rel='stylesheet', href='/stylesheets/foundation.css')
link(rel='stylesheet', href='/stylesheets/app.css')

//if lt IE 8
    link(rel='stylesheet', href='/stylesheets/ie.css')

//if lt IE 9
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")